<center>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" name="id" id="id" aria-describedby="helpId" placeholder="ID">
        <small id="helpId" class="form-text text-muted">Enter ID (numbers only)</small>
    </div>
</center>